In [1]:
cars = ("audi","bmw","toyota","subaru")

In [9]:
for car in cars:
    if car == "bmw":
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Toyota
Subaru

In [10]:
age = 17

In [11]:
age == 17

True

In [13]:
age == 34

False

In [14]:
17<29

True

In [19]:
18<age

False

In [18]:
answer = 17
if answer != 42:
    print("wrong answer stupid!!")

wrong answer stupid!!

In [20]:
24>age

True